
/* path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}
path:hover {
  fill: orange;
} */
body {
margin:10px;
text-align: center;
width: 100%;
} 
div.tooltip { 
    position: absolute;     
    text-align: left;     
    width: 110px;          
    height: 55px;         
    padding: 2px;       
    font: 14px sans-serif;    
    background: #fff; 
    border: 2px;        
    pointer-events: none; 
    border-radius: 8px;  
}
/* Legend Position Style */
/* .legend {
	position:absolute;
	left:80px;
	top:50px;
} */
