

body {
padding-left: 5%;
padding-right: 2%;
/* margin:10px; */
text-align: center;
width: 100%;
/* background-color: rgb(20, 20, 20); */
} 

.nav {
  padding-bottom: 20px;
}
div.tooltip { 
    position: absolute;     
    text-align: left;     
    width: 110px;          
    height: 55px;         
    padding: 2px;       
    font: 14px sans-serif;    
    background: #fff; 
    border: 2px;        
    pointer-events: none; 
    border-radius: 8px;  
}
div.tooltipChart { 
  position: absolute;     
  text-align: center;     
  width: 60px;          
  /* height: 10px;          */
  padding: 2px;       
  font: 14px sans-serif;    
  background: #fff; 
  border: 2px;        
  pointer-events: none; 
  border-radius: 8px;  
}
.bar {
  /* fill: steelblue; */
  text-align: right;
  color: #f0f8ff;
}

.bar:hover {
  fill: lightblue;
}
.graph-title {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.hidden{
  display: none;
}

#leftRigtDropDowns{
  padding-top: 2em;
  /* margin-bottom: 3em; */
}
#scen_div {
  text-align: center;
  margin-bottom: 2em;
}
#slider-simple {
  margin-bottom: -2em;
}

#first_row {
  margin-bottom: 2em;
}
#row_parallelChart {
  margin-top: 3em;
}